#wrap #intro {height: 100vh;}
#wrap #intro .contents {
    display: flex; flex-flow: column nowrap; 
    justify-content: center; align-items: center; height: 100%;
}
#wrap #intro .contents h1 {
    width: 790px; height: 252px; text-align: center;
    font-family: 'Instrument Serif','serif'; font-size: 11.25rem;
    background-image: url(../images/common/hightlight.png);
    background-position: center; background-size: cover;
}
#wrap #intro .contents p {}
#wrap #intro .contents p:nth-child(2) {font-size: 1.88rem; font-weight: 300; margin: 38px 0 100px;}
#wrap #intro .contents p:last-child {font-size: 1.63rem;}